:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Mochiy Pop One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: 
    linear-gradient(
        rgba(199, 199, 199, 0.3),
        rgba(199, 199, 199, 0.3)
    ),
    url('../pics/bg2.webp');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font-primary);
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav .nav-option ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-option li {
    cursor: pointer;
    font-size: 1.2rem;
}

nav .nav-option ul li a {
    text-decoration: none;
    -webkit-text-stroke: 0.4px black;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
    font-weight: bold;
    color: #ffffff;
}

main .page-header {
    font-family: var(--font-secondary);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    /* -webkit-text-stroke: 0.2px black; */
    text-shadow: 4px 4px 0 rgba(0,0,0,0.4);
}