.home-page {
    background:
    linear-gradient(
        rgba(199,199,199,0.3),
        rgba(199,199,199,0.3)
    ),
    url('../../pics/bg2.webp');

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin: 50px auto;
}

.page-title {
    text-align: center;
    font-family: var(--styling-font);
    color: var(--white);
    text-shadow: 2px 2px 0px rgba(0,0,0,0.35);
}

.page-title h2 {
    font-size: var(--header2);
}

.page-title h1 {
    font-size: var(--header1);
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 50px auto;
}

.menu-card {
    width: 100%;
    max-width: 300px;
    background-color: var(--card-color);
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: var(--styling-font);
    transition: all 0.1s ease-in-out;
}

.menu-card:hover{
    transform: scale(1.1);
}

.menu-card a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}

.menu-card img {
    width: 40px;
    height: 40px;
}